<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Process</title>

    <!-- Bootstrap Core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom Fonts -->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../static/vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Optimus</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/process">Process</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/output">Optimum Location</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        <div class="justify-content-center m-5">
          <h1>Optimum Locations</h1>
          <iframe
            class="map"
            src="/outputMap"
            width="600"
            height="600"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
