<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_760ffd9e551ad13313bd7c3de7b89664 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_760ffd9e551ad13313bd7c3de7b89664" ></div>
        
</body>
<script>    
    
            var map_760ffd9e551ad13313bd7c3de7b89664 = L.map(
                "map_760ffd9e551ad13313bd7c3de7b89664",
                {
                    center: [12.9716, 77.5946],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c6130eb044366339464d8b4ddcd616ac = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var marker_d47d152ce58f31f60e187547b9268fd1 = L.marker(
                [13.0129735, 77.5687129],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_5cc6db2fad02defca7e5e40035cd7493 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d47d152ce58f31f60e187547b9268fd1.setIcon(icon_5cc6db2fad02defca7e5e40035cd7493);
        
    
        var popup_b0c926571c056d5964a2672cf8e86db7 = L.popup({"maxWidth": "100%"});

        
            var html_f1cc7abb1a700ecc3967fae415c9f1f6 = $(`<div id="html_f1cc7abb1a700ecc3967fae415c9f1f6" style="width: 100.0%; height: 100.0%;">Parking Lot</div>`)[0];
            popup_b0c926571c056d5964a2672cf8e86db7.setContent(html_f1cc7abb1a700ecc3967fae415c9f1f6);
        

        marker_d47d152ce58f31f60e187547b9268fd1.bindPopup(popup_b0c926571c056d5964a2672cf8e86db7)
        ;

        
    
    
            var marker_1142b9c4196e0478e1ba2e1cf6fc9466 = L.marker(
                [13.0579537, 77.5923],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_b0db90beb0f55d88b94ad5e4cc31ab0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1142b9c4196e0478e1ba2e1cf6fc9466.setIcon(icon_b0db90beb0f55d88b94ad5e4cc31ab0b);
        
    
        var popup_3d9068582f1e2c36b10133dce39d5502 = L.popup({"maxWidth": "100%"});

        
            var html_f7fcfd87df49f0ceb6a00d06a2f1404f = $(`<div id="html_f7fcfd87df49f0ceb6a00d06a2f1404f" style="width: 100.0%; height: 100.0%;">Parking, More Mega Store</div>`)[0];
            popup_3d9068582f1e2c36b10133dce39d5502.setContent(html_f7fcfd87df49f0ceb6a00d06a2f1404f);
        

        marker_1142b9c4196e0478e1ba2e1cf6fc9466.bindPopup(popup_3d9068582f1e2c36b10133dce39d5502)
        ;

        
    
    
            var marker_2b59422afd2020f4592cff7c987c6eb8 = L.marker(
                [13.0279498, 77.6206521],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_4e3586f7f99f30c74c2cdb366169548b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_2b59422afd2020f4592cff7c987c6eb8.setIcon(icon_4e3586f7f99f30c74c2cdb366169548b);
        
    
        var popup_c0d2c002d3c7d90778b1cb60e826d3c5 = L.popup({"maxWidth": "100%"});

        
            var html_f35099f0192b40217a24284dd657b775 = $(`<div id="html_f35099f0192b40217a24284dd657b775" style="width: 100.0%; height: 100.0%;">GASPLUS Auto LPG station</div>`)[0];
            popup_c0d2c002d3c7d90778b1cb60e826d3c5.setContent(html_f35099f0192b40217a24284dd657b775);
        

        marker_2b59422afd2020f4592cff7c987c6eb8.bindPopup(popup_c0d2c002d3c7d90778b1cb60e826d3c5)
        ;

        
    
    
            var marker_feb3afd521ade042ed3c8254b27f76a7 = L.marker(
                [12.9702626, 77.6099629],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_72b1fac34b177ef1af12ad41d35f1dff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_feb3afd521ade042ed3c8254b27f76a7.setIcon(icon_72b1fac34b177ef1af12ad41d35f1dff);
        
    
        var popup_dbaef48db9b1f62e3107ec3916090db7 = L.popup({"maxWidth": "100%"});

        
            var html_a40c93f513041b628cfefa0336d17d0c = $(`<div id="html_a40c93f513041b628cfefa0336d17d0c" style="width: 100.0%; height: 100.0%;">Garuda Mall</div>`)[0];
            popup_dbaef48db9b1f62e3107ec3916090db7.setContent(html_a40c93f513041b628cfefa0336d17d0c);
        

        marker_feb3afd521ade042ed3c8254b27f76a7.bindPopup(popup_dbaef48db9b1f62e3107ec3916090db7)
        ;

        
    
    
            var marker_f60f978697f97f4a0da78972ad11df7e = L.marker(
                [13.0613184, 77.5770436],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_34d060a9351db4c8678bd83804acfdf5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f60f978697f97f4a0da78972ad11df7e.setIcon(icon_34d060a9351db4c8678bd83804acfdf5);
        
    
        var popup_29d73b4dbb9046109beaa4db5e10e780 = L.popup({"maxWidth": "100%"});

        
            var html_135382c877be125ecce185b233ed88a1 = $(`<div id="html_135382c877be125ecce185b233ed88a1" style="width: 100.0%; height: 100.0%;">Silicon Valley Pre University College</div>`)[0];
            popup_29d73b4dbb9046109beaa4db5e10e780.setContent(html_135382c877be125ecce185b233ed88a1);
        

        marker_f60f978697f97f4a0da78972ad11df7e.bindPopup(popup_29d73b4dbb9046109beaa4db5e10e780)
        ;

        
    
    
            var marker_5845936fe31ebef42fa4b13feaffdca7 = L.marker(
                [13.0362518, 77.5046093],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_3d90f554417ce7f07b85ed814b7e749c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5845936fe31ebef42fa4b13feaffdca7.setIcon(icon_3d90f554417ce7f07b85ed814b7e749c);
        
    
        var popup_2aac81a4179a5b36ee50117024dfd8b1 = L.popup({"maxWidth": "100%"});

        
            var html_8de232a3fbd882e1048bff7033912df7 = $(`<div id="html_8de232a3fbd882e1048bff7033912df7" style="width: 100.0%; height: 100.0%;">Christ University Yeshwanthpur Campus</div>`)[0];
            popup_2aac81a4179a5b36ee50117024dfd8b1.setContent(html_8de232a3fbd882e1048bff7033912df7);
        

        marker_5845936fe31ebef42fa4b13feaffdca7.bindPopup(popup_2aac81a4179a5b36ee50117024dfd8b1)
        ;

        
    
    
            var marker_d0becc544db754ad4e69e4e5521ed465 = L.marker(
                [13.0095328, 77.4830283],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_8a26763969c1b76d03858cbf413a4c2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d0becc544db754ad4e69e4e5521ed465.setIcon(icon_8a26763969c1b76d03858cbf413a4c2d);
        
    
        var popup_af15773f70ce75c4ef4640ebaa299936 = L.popup({"maxWidth": "100%"});

        
            var html_75f2198144a49dec907cd8516cceb8a5 = $(`<div id="html_75f2198144a49dec907cd8516cceb8a5" style="width: 100.0%; height: 100.0%;">BPCL - Manjunatha Fuel station</div>`)[0];
            popup_af15773f70ce75c4ef4640ebaa299936.setContent(html_75f2198144a49dec907cd8516cceb8a5);
        

        marker_d0becc544db754ad4e69e4e5521ed465.bindPopup(popup_af15773f70ce75c4ef4640ebaa299936)
        ;

        
    
    
            var marker_9e5fb1c7629c1f4e3fa54a240b9bb138 = L.marker(
                [13.0334762, 77.6140776],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_46f8b574d2c5c3be9ed230f4305034aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9e5fb1c7629c1f4e3fa54a240b9bb138.setIcon(icon_46f8b574d2c5c3be9ed230f4305034aa);
        
    
        var popup_026438b4a922b91be278b37b6cfa8140 = L.popup({"maxWidth": "100%"});

        
            var html_1cf34147d46ef3057d1d4099af1b8ec0 = $(`<div id="html_1cf34147d46ef3057d1d4099af1b8ec0" style="width: 100.0%; height: 100.0%;">CRESCENT HARMONY APARTMENT</div>`)[0];
            popup_026438b4a922b91be278b37b6cfa8140.setContent(html_1cf34147d46ef3057d1d4099af1b8ec0);
        

        marker_9e5fb1c7629c1f4e3fa54a240b9bb138.bindPopup(popup_026438b4a922b91be278b37b6cfa8140)
        ;

        
    
    
            var marker_1a87d9211ff887a144056b963730f144 = L.marker(
                [13.0170132, 77.6182944],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_763d8bddec7c2cf6b1c825d7fc075198 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1a87d9211ff887a144056b963730f144.setIcon(icon_763d8bddec7c2cf6b1c825d7fc075198);
        
    
        var popup_33b3e2a7f125193b5ad459b55173e2b5 = L.popup({"maxWidth": "100%"});

        
            var html_4248c0dbc93012cd12444b1ee36a3412 = $(`<div id="html_4248c0dbc93012cd12444b1ee36a3412" style="width: 100.0%; height: 100.0%;">Harmony Apartment</div>`)[0];
            popup_33b3e2a7f125193b5ad459b55173e2b5.setContent(html_4248c0dbc93012cd12444b1ee36a3412);
        

        marker_1a87d9211ff887a144056b963730f144.bindPopup(popup_33b3e2a7f125193b5ad459b55173e2b5)
        ;

        
    
    
            var marker_97a544dc182fb7e4ef2f2ea6f065372b = L.marker(
                [13.049016, 77.5935633],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_da90fa8e90aea147e83d4454b2467280 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_97a544dc182fb7e4ef2f2ea6f065372b.setIcon(icon_da90fa8e90aea147e83d4454b2467280);
        
    
        var popup_49615a8a2a0277c335570940ec8a1648 = L.popup({"maxWidth": "100%"});

        
            var html_1c46c49ebeff6434894e6b2dc7d31e39 = $(`<div id="html_1c46c49ebeff6434894e6b2dc7d31e39" style="width: 100.0%; height: 100.0%;">Esteem Mall</div>`)[0];
            popup_49615a8a2a0277c335570940ec8a1648.setContent(html_1c46c49ebeff6434894e6b2dc7d31e39);
        

        marker_97a544dc182fb7e4ef2f2ea6f065372b.bindPopup(popup_49615a8a2a0277c335570940ec8a1648)
        ;

        
    
    
            var marker_1a80cbf599b0a3f053d39f02e448f265 = L.marker(
                [13.054295, 77.6090278],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_7d64a8d980e108ece984736f07fee5b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1a80cbf599b0a3f053d39f02e448f265.setIcon(icon_7d64a8d980e108ece984736f07fee5b4);
        
    
        var popup_ca6efb02ba7d5e63267c38e6770f9fb5 = L.popup({"maxWidth": "100%"});

        
            var html_3062e0c1eb71a21da78ef2ec7c7172ae = $(`<div id="html_3062e0c1eb71a21da78ef2ec7c7172ae" style="width: 100.0%; height: 100.0%;">Unnati Apartment</div>`)[0];
            popup_ca6efb02ba7d5e63267c38e6770f9fb5.setContent(html_3062e0c1eb71a21da78ef2ec7c7172ae);
        

        marker_1a80cbf599b0a3f053d39f02e448f265.bindPopup(popup_ca6efb02ba7d5e63267c38e6770f9fb5)
        ;

        
    
    
            var marker_e810411c19dd635f7409464a8ed49dbd = L.marker(
                [13.0450957, 77.6268964],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_7f6998d2ed79110ea83b93d44b0c34a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e810411c19dd635f7409464a8ed49dbd.setIcon(icon_7f6998d2ed79110ea83b93d44b0c34a0);
        
    
        var popup_8403005f6ee8dfe0e009c906a4447160 = L.popup({"maxWidth": "100%"});

        
            var html_ff8a0f6cbab65d786748b0ee253130e6 = $(`<div id="html_ff8a0f6cbab65d786748b0ee253130e6" style="width: 100.0%; height: 100.0%;">Elements Mall</div>`)[0];
            popup_8403005f6ee8dfe0e009c906a4447160.setContent(html_ff8a0f6cbab65d786748b0ee253130e6);
        

        marker_e810411c19dd635f7409464a8ed49dbd.bindPopup(popup_8403005f6ee8dfe0e009c906a4447160)
        ;

        
    
    
            var marker_f8e8285be101d9f770867c13a323b744 = L.marker(
                [13.0262852, 77.6351286],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_04e6337a8ddc962a1467802a306b22c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f8e8285be101d9f770867c13a323b744.setIcon(icon_04e6337a8ddc962a1467802a306b22c3);
        
    
        var popup_76e1b8e47334e143d3c875a3c331f6ca = L.popup({"maxWidth": "100%"});

        
            var html_10f09be49c2152f0bf34805149d5189b = $(`<div id="html_10f09be49c2152f0bf34805149d5189b" style="width: 100.0%; height: 100.0%;">BP Petrol Pump</div>`)[0];
            popup_76e1b8e47334e143d3c875a3c331f6ca.setContent(html_10f09be49c2152f0bf34805149d5189b);
        

        marker_f8e8285be101d9f770867c13a323b744.bindPopup(popup_76e1b8e47334e143d3c875a3c331f6ca)
        ;

        
    
    
            var marker_f8850807bad5b5799e2647ad7c9b4a37 = L.marker(
                [12.9973248, 77.6007692],
                {}
            ).addTo(map_760ffd9e551ad13313bd7c3de7b89664);
        
    
            var icon_70607f6d40547da1fbc2dbee9a7a4784 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f8850807bad5b5799e2647ad7c9b4a37.setIcon(icon_70607f6d40547da1fbc2dbee9a7a4784);
        
    
        var popup_6695018caac1d8a3c354390411c7f3cb = L.popup({"maxWidth": "100%"});

        
            var html_fd1852ef45c7fd2ebbb4746c5428f2f1 = $(`<div id="html_fd1852ef45c7fd2ebbb4746c5428f2f1" style="width: 100.0%; height: 100.0%;">Rezervd Smart Parking</div>`)[0];
            popup_6695018caac1d8a3c354390411c7f3cb.setContent(html_fd1852ef45c7fd2ebbb4746c5428f2f1);
        

        marker_f8850807bad5b5799e2647ad7c9b4a37.bindPopup(popup_6695018caac1d8a3c354390411c7f3cb)
        ;

        
    
    
            map_760ffd9e551ad13313bd7c3de7b89664.fitBounds(
                [[12.9702626, 77.4830283], [13.0613184, 77.6351286]],
                {}
            );
        
</script>